body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  font-family: "Spicy Rice", serif;
  font-weight: 300;
}

button {
  appearance: none;
  border: unset;
  cursor: pointer;
  background-color: unset;
}

button:hover {
  background-color: rgb(212, 211, 211);
}

.content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.content-wrapper:fullscreen {
  /* width: 100vw;
  height: 100vh; */
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper:fullscreen canvas {
  /* width: 100% !important;
  height: 100% !important; */
  /* object-fit: contain; */
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.content-wrapper:-webkit-full-screen {
  /* width: 100vw;
  height: 100vh; */
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper:-webkit-full-screen canvas {
  /* width: 100% !important;
  height: 100% !important; */
  /* object-fit: contain; */
  /* image-rendering: pixelated;
  image-rendering: crisp-edges; */
}

canvas {
  background-color: black;
}

.btns-wrapper {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btns-wrapper button {
  border-radius: 50%;
  padding: 4px;
}

.btns-wrapper button img {
  width: 48px;
  height: auto;
}

.content-wrapper:fullscreen .btns-wrapper button img,
.content-wrapper:-webkit-full-screen .btns-wrapper button img {
  width: 5vw;
}

.outro-container {
  position: absolute;
}

.outro-container button {
  border-radius: 50%;
  padding: 4px;
  font-size: 24px;
}

.outro-btns-container {
  position: absolute;
  display: flex;
  gap: 48px;
}

.outro-container button img {
  width: 48px;
  height: auto;
}

.outro-container {
  display: unset;
  width: 720px;
  height: 480px;
}

.outro-container img {
  width: 100%;
  height: 100%;
}
