:root {
  --beige: rgba(250, 242, 223, 1);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/img/5_background/layers/air.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  width: 100dvw;

  font-weight: 300;
  color: var(--beige);
  font-family: "Zabars", serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

img {
  -webkit-touch-callout: none;
  user-select: none;
}

canvas {
  background-color: transparent;
  display: block;
}

.panel {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
}

/* #region fonts */
@font-face {
  font-family: "Zabars";
  src: url(./assets/fonts/zabars.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Spicy Rice";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/spicy-rice-v28-latin-regular.woff2") format("woff2");
}

.game-title {
  margin-top: 6dvh;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 64px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* #endregion */

/* #region content wrapper */

.content-wrapper {
  width: 720px;
  position: relative;
  display: flex;
  flex-direction: column;
  container-type: size;
  aspect-ratio: 720 / 480;
}

.content-wrapper:not(:fullscreen):not(:-webkit-full-screen)
  :is(
    &,
    .information-container,
    canvas,
    .overlay-img,
    .loading-spinner,
    .pause-menu
  ) {
  border-radius: 24px;
}

.content-wrapper:fullscreen {
  width: 100dvw;
  height: 100dvh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper:fullscreen canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.content-wrapper:-webkit-full-screen {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ios-fake-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

/* #endregion */

/* #region loading spinner */

.loading-spinner {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.95);
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loading-spinner img {
  height: 35cqh;
  animation: spin 1s linear infinite;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #endregion */

/* #region responsive */
@media screen and (max-height: 650px) {
  .game-title {
    display: none;
  }

  body {
    justify-content: center;
  }
}

@media only screen and (max-height: 480px) {
  .content-wrapper,
  canvas {
    height: 100dvh;
  }

  .overlay-img--win {
    width: 50%;

    margin-top: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .game-title {
    font-size: 48px;
  }
}

@media screen and (max-width: 768px) {
  .content-wrapper:not(:fullscreen):not(:-webkit-full-screen)
    :is(
      &,
      .information-container,
      canvas,
      .overlay-img,
      .loading-spinner,
      .pause-menu
    ) {
    border-radius: 0;
  }

  .game-title {
    font-size: 36px;
    margin: 16px;
  }
}

@media only screen and (max-width: 720px) {
  .content-wrapper,
  canvas {
    width: 100dvw;
  }
}

@media (pointer: coarse) {
  .wood-signs-container--pause {
    padding-bottom: unset;
    padding-top: 8cqh;
  }

  .content-wrapper:not(:has(.home-container)):not(:has(.information-container))
    .panel {
    top: 3cqh;
    bottom: unset;
    width: unset;
    gap: 2.5cqw;
    align-self: center;
  }

  .outro-btns-container {
    top: 23cqh;
  }

  .content-wrapper:not(:has(.pause-menu)):not(:has(.information-container)):not(
      :has(.home-container)
    )
    .control-panel {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .overlay-img--win {
    width: 50%;
    margin-top: 32px;
  }
}

.landscape-warning {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: min(80dvw, 400px);
  height: min(80dvh, 300px);

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 24px;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 32px;
}

.landscape-warning p {
  font-size: 36px;
  color: black;
}

.landscape-warning img {
  width: 64px;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .landscape-warning {
    display: flex;
  }

  .content-wrapper,
  .game-title {
    display: none;
  }
}

/* #endregion */
